@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MontserratAlternates';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('MontserratAlternates'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}
